################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/esign-api/.mvn/wrapper
/.vs/esignature/v17
/.vs
